.screen_main{
    background: #fff;
    width: 100%;
    padding: 20px;
}

.content_btn {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 0.4px 10px rgba(0, 0, 0, 0.596);
    background: #FFFF4489;
}

.content_btn button {
    padding: 10px;
    margin-top: 1rem;
    background: #00000998;
    border: none;
    width: 100px;
    border-radius: 2rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.content_btn button:hover {
    background-color:#8C52FE;
}

.sub-title{
    font-size: 0.9rem;
}