:root {

    --primary_color: #323139;
    --secundary_color: #cb6be6;
    --option_color: #FFFF44;
    --color_box_shadow: 0 8px 10px rgb(112,112,112,0.6);
    --font_size_sub_title: 3rem;
    --color_subText:rgb(112,112,112);
    --bg_container_desc: #32393923
    
}


.containerStart {
    background: url('../../../public/background_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    width: 70%;
    padding: 2rem;

}

.title h1{
    padding: 1rem 0;
    border-radius: 3rem;
    background: var(--primary_color);
    color: var(--option_color);
    box-shadow: var(--color_box_shadow);
}

.content{
    text-align: center;
    color: var(--color_subText);
}


/*Description Desktop*/

.contentDest{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2rem;
}

.contentIcon {
    width: 40%;
    height: 30%;
    border-radius: 2rem;
    box-shadow: var(--color_box_shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    gap: 2rem;
    background: var(--bg_container_desc);
}



.contentIcon .desk {
    font-size: 90px;
    margin-left: 1rem;
}

